#controls {
    width: 500px;
    height: 500px;
    display: inline-block;
}

#viz {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.tall-vw {
    height: 70vh;
}

.control-graph {
    margin: 10vh auto;
}

.reset-button {
    margin: 1em auto;
}

.left-pane {
    border-right: solid;
}

#shape-selectors {
    margin-bottom: 1em;
}
